# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
Assets/
public/uploads/
public/goa-uploads/pages/marqueedoc/e1dd1d4b-9b25-46f9-8112-2584c52dc451-Notification 1802_Revision in Guidelines for offering Research Stipend, Sudha Scholarship in Tuition Fees and Contingency Grant for scholars pursuing Ph.D. programmes in the.pdf
